{% extends 'layout.html' %}

{% block title %}
    Post contents
{% endblock title %}

{% block contents %}
<h1>Post List</h1>
<hr>
<br>
  {% set i = 0 %}
  <div class="row">
    {% for post in postlist %}
      <div class="col-sm-4 mb-3">
        <div class="card mb-4">
          <div class="card-header">
            {{ post.created.strftime('%d %b %Y') }}
          </div>
          <img src="{{ url_for('static', filename='JPG-File.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{{ url_for('posts.post_details', slug=post.slug) }}" > <h5 class="card-title">{{ post.title }}</h5></a>
            <p class="card-text">{{ post.body }}</p>
            <a href="{{ url_for('posts.post_details', slug=post.slug) }}" class="btn btn-info">Read more ...</a>
          </div>
        </div>
      </div>
      {% if i % 3 == 2 or loop.last %}
  </div>
  <div class="row">
    {% endif %}
    {% set i = i + 1 %}
    {% endfor %}
  </div>
{% endblock contents %}
